@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --RANGE-VALUE: 50%;
}

#input-range::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 36px;
    height: 36px;
    background-color: hsl(174, 86%, 45%);
    background-image: url('../images/icon-slider.svg');
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 4px 16px hsl(174, 86%, 45%);
}

#input-range::-webkit-slider-thumb:active {
    background-color: hsl(174, 74%, 25%);
}

/* input[type="checkbox"] {
    -webkit-appearance: none;
    visibility: hidden;
    display: none;
} */

#input-range {
    /* background: linear-gradient(
        to-right,
        hsl(174, 86%, 45%) var(--RANGE-VALUE),
        hsl(223, 50%, 87%) 0
    ); */
    background: linear-gradient(90deg, 
    hsl(174, 77%, 80%) var(--RANGE-VALUE), 
    hsl(223, 50%, 87%) 0);
}